<table>
	@for (row of table.rows; track row; let i = $index) {
		@if (i === 0) {
			<thead>
			<tr>
				@for (cell of row.cells; track cell) {
					<th>
						@for (inline of cell.inlines; track inline) {
							<marka-inline [inline]="inline" />
						}
					</th>
				}
			</tr>
			</thead>
		} @else {
			<tbody>
			<tr>
				@for (cell of row.cells; track cell) {
					<td>
						@for (inline of cell.inlines; track inline) {
							<marka-inline [inline]="inline" />
						}
					</td>
				}
			</tr>
			</tbody>
		}
	}
</table>
