#editor {
	overflow: visible;
	min-height: calc(100vh - 72px);
	margin: 0.5rem 1rem;
	padding: var(--editor-padding);
	border: 2px solid var(--editor-border-color);
	border-radius: var(--editor-radius);
	background: var(--editor-bg-color);
}

#editor > :first-child {
	margin-top: 0;
}

#editor > :last-child {
	margin-bottom: 0;
}
