/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/

/*
This is left on purpose making default.css the single file that can be lifted
as-is from the repository directly without the need for a build step

Typically this "required" baseline CSS is added by `makestuff.js` during build.
*/

* {
	--hljs-background: #f3f3f3;
	--hljs-color: #444;
	--comment-color: #697070;
	--punctuation-color: #444a;
	--tag-color: #444a;
	--tag-name-color: #444;
	--tag-attr-color: #444;
	--keyword-font-weight: bold;
	--attribute-font-weight: bold;
	--selector-tag-font-weight: bold;
	--meta-keyword-font-weight: bold;
	--doctag-font-weight: bold;
	--name-font-weight: bold;
	--type-color: #800;
	--string-color: #800;
	--number-color: #800;
	--selector-id-color: #800;
	--selector-class-color: #800;
	--quote-color: #800;
	--template-tag-color: #800;
	--deletion-color: #800;
	--title-color: #800;
	--title-font-weight: bold;
	--section-color: #800;
	--section-font-weight: bold;
}


/* end baseline CSS */

.hljs {
	color: #444;
	background: #f3f3f3;
}

/* Base color: saturation 0; */

.subst {
	/* default */
}

/* purposely ignored */
.formula,
.attr,
.property,
.params {
}

.comment {
	color: #697070;
}

.tag,
.punctuation {
	color: #444a;
}

.tag .name,
.tag .attr {
	color: #444;
}


.keyword,
.attribute,
.selector-tag,
.meta .keyword,
.doctag,
.name {
	font-weight: bold;
}


/* User color: hue: 0 */

.type,
.string,
.number,
.selector-id,
.selector-class,
.quote,
.template-tag,
.deletion {
	color: #800;
}

.title,
.section {
	font-weight: bold;
	color: #800;
}

.regexp,
.symbol,
.variable,
.template-variable,
.link,
.selector-attr,
.operator,
.selector-pseudo {
	color: #ab5656;
}

/* Language color: hue: 90; */

.literal {
	color: #695;
}

.built_in,
.bullet,
.code,
.addition {
	color: #397300;
}


/* Meta color: hue: 200 */

.meta {
	color: #1f7199;
}

.meta .string {
	color: #38a;
}


/* Misc effects */

.emphasis {
	font-style: italic;
}

.strong {
	font-weight: bold;
}
