<ng-template #headingContent>
	@for (inline of heading.inlines; track inline) {
		<marka-inline [inline]="inline" />
	}
</ng-template>

@switch (heading.level) {
	@case (1) {
		<h1>
			<ng-container [ngTemplateOutlet]="headingContent" />
		</h1>
	}
	@case (2) {
		<h2>
			<ng-container [ngTemplateOutlet]="headingContent" />
		</h2>
	}
	@case (3) {
		<h3>
			<ng-container [ngTemplateOutlet]="headingContent" />
		</h3>
	}
	@case (4) {
		<h4>
			<ng-container [ngTemplateOutlet]="headingContent" />
		</h4>
	}
	@case (5) {
		<h5>
			<ng-container [ngTemplateOutlet]="headingContent" />
		</h5>
	}
	@case (6) {
		<h6>
			<ng-container [ngTemplateOutlet]="headingContent" />
		</h6>
	}
}
