.theme-default-dark {
	--app-bg-color: #282828;
	--app-font-size: 16px;

	--nav-bg-color: #3c3c3c;
	--nav-fg-color: #c7c7c7;
	--nav-radius: 0;
	--nav-border-color: #3c3c3c;
	--nav-button-size: 32px;
	--nav-button-svg-size: 20px;
	--nav-separator-color: #5e5e5e;
	--nav-separator-length: 24px;

	--editor-bg-color: #282828;
	--editor-border-color: #5e5e5e;
	--editor-focused-border-color: #5e5e5e;
	--editor-radius: 0;
	--editor-padding: .5rem;

	--text-color: #e3e3e3;
	--selection-color: ;

	--link-color: #a8c7fa;
	--link-decoration: underline;
	--link-hover-color: #a8c7fa;
	--link-hover-decoration: underline;

	/* Default colors */
	--tag-color: #e3e3e3;
	--tag-name-color: #7cacf8;
	--tag-attr-color: #a8c7fa;
	--string-color: #fe8d59;
	--keyword-color: #bf67ff;
	--function-color: #facc15;
	--built-in-color: #bf67ff;
	--constant-color: #7cacf8;
	--parameter-color: #7cacf8;
	--literal-color: #c4eed0;
	--number-color: #c4eed0;
	--attribute-color: #facc15;
	--comment-color: #ababab;
	--operator-color: #e3e3e3;
	--punctuation-color: #e3e3e3;
	--property-color: #facc15;
	--class-color: #7cacf8;
	--title-function-color: #7cacf8;
	--selector-tag-color: #7cacf8;
	--selector-id-color: #c4eed0;
	--selector-class-color: #7cacf8;
	--selector-attr-color: #a8c7fa;
	--selector-pseudo-color: #6dd58c;
}
