@import './dark.css';
@import './light.css';

.style-github {
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		line-height: 1.25;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
	}

	h1 {
		font-size: 2em;
		border-bottom: 1px solid #3d444db3;
	}

	h2 {
		font-size: 1.5em;
		border-bottom: 1px solid #3d444db3;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: .875em;
	}

	h6 {
		font-size: .85em;
		color: #9198a1;
	}

	b, strong {
		font-weight: 600;
	}

	i, em {
		font-style: italic;
	}

	s, del {
		text-decoration: line-through;
	}

	li {
		display: list-item;
		unicode-bidi: isolate;
	}

	ol {
		list-style-type: decimal;
	}

	ol ol, ul ol {
		list-style-type: lower-roman;
	}

	.task-list-item {
		list-style-type: none;
	}

	sub, sup {
		font-size: 75%;
		line-height: 0;
	}

	[data-footnote-ref]:before {
		content: '[';
	}

	[data-footnote-ref]:after {
		content: ']';
	}

	code {
		font-size: 85%;
		margin: 0;
		padding: .2em .4em;
		white-space: break-spaces;
		border-radius: 6px;
		background-color: #656c7633;
	}

	pre {
		font-size: 85%;
		line-height: 1.45;
		overflow: auto;
		padding: 1rem;
		word-break: normal;
		color: #f0f6fc;
		border-radius: 6px;
		background-color: #151b23;
		overflow-wrap: normal;
	}

	pre code {
		font-size: 100%;
		line-height: inherit;
		display: inline;
		overflow: visible;
		margin: 0;
		padding: 0;
		border: 0;
		background-color: #0000;
		overflow-wrap: normal;
	}

	pre > code {
		margin: 0;
		padding: 0;
		white-space: pre;
		word-break: normal;
		border: 0;
		background: 0 0;
	}

	table {
		font-variant: tabular-nums;
		display: block;
		overflow: auto;
		width: max-content;
		max-width: 100%;
		margin-top: 0;
		margin-bottom: 1rem;
		border-spacing: 0;
		border-collapse: collapse;
		text-indent: initial;
		border-color: gray;
		unicode-bidi: isolate;
	}

	thead {
		display: table-header-group;
		vertical-align: middle;
		border-color: inherit;
		unicode-bidi: isolate;
	}

	tbody {
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;
		unicode-bidi: isolate;
	}

	tr {
		display: table-row;
		vertical-align: inherit;
		border-color: inherit;
		border-top: 1px solid #3d444db3;
		background-color: #0d1117;
		unicode-bidi: isolate;
	}

	tr:nth-child(even) {
		background-color: #151b23;
	}

	th {
		font-weight: 600;
		display: table-cell;
		padding: 6px 13px;
		text-align: center;
		vertical-align: inherit;
		border: 1px solid #3d444d;
		unicode-bidi: isolate;
	}

	td {
		display: table-cell;
		padding: 6px 13px;
		vertical-align: inherit;
		border: 1px solid #3d444d;
		unicode-bidi: isolate;
	}

	blockquote {
		margin: 0 0 1rem;
		padding: 0 1em;
		color: #9198a1;
		border-left: .25em solid #3d444d;
	}

	blockquote > :last-child {
		margin-bottom: 0;
	}

	hr {
		height: .25em;
		margin: 1.5rem 0;
		padding: 0;
		border: 0;
		background-color: #3d444d;
	}

	.footnotes {
		font-size: 12px;
		color: #9198a1;
		border-top: 1px solid #3d444d;
	}

	.sr-only {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		padding: 0;
		border: 0;
		clip-path: rect(0 0 0 0);
		overflow-wrap: normal;
	}

	/* Code Highlighting */

	.keyword {
		color: var(--color-prettylights-syntax-keyword);
	}

	.built_in {
		color: var(--color-prettylights-syntax-constant);
	}

	.type {
		color: var(--color-prettylights-syntax-keyword);
	}

	.literal {
		color: var(--color-prettylights-syntax-constant);
	}

	.number {
		color: var(--color-prettylights-syntax-constant);
	}

	.operator {
		color: var(--color-prettylights-syntax-keyword);
	}

	.punctuation {
		color: var(--color-prettylights-syntax-brackethighlighter-angle);
	}

	.property {
		color: var(--color-prettylights-syntax-constant);
	}

	.regexp {
		color: var(--color-prettylights-syntax-string-regexp);
	}

	.string {
		color: var(--color-prettylights-syntax-string);
	}

	.char.escape_ {
		color: var(--color-prettylights-syntax-string-regexp);
	}

	.subst {
		color: var(--color-prettylights-syntax-storage-modifier-import);
	}

	.symbol {
		color: var(--color-prettylights-syntax-variable);
	}

	.class {
		color: var(--color-prettylights-syntax-entity);
	}

	.function {
		color: var(--color-prettylights-syntax-entity);
	}

	.variable {
		color: var(--color-prettylights-syntax-variable);
	}

	.variable.language_ {
		color: var(--color-prettylights-syntax-constant);
	}

	.variable.constant_ {
		color: var(--color-prettylights-syntax-constant);
	}

	.title {
		color: var(--color-prettylights-syntax-entity);
	}

	.title.class_ {
		color: var(--color-prettylights-syntax-storage-modifier-import);
	}

	.title.class_.inherited__ {
		color: var(--color-prettylights-syntax-variable);
	}

	.title.function_ {
		color: var(--color-prettylights-syntax-entity);
	}

	.title.function_.invoke__ {
		color: var(--color-prettylights-syntax-entity);
	}

	.params {
		color: var(--color-prettylights-syntax-storage-modifier-import);
	}

	.comment {
		color: var(--color-prettylights-syntax-comment);
	}

	.doctag {
		color: var(--color-prettylights-syntax-keyword);
	}

	.meta {
		color: var(--color-prettylights-syntax-meta-diff-range);
	}

	.meta.prompt_ {
		color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
	}

	.meta keyword {
		color: var(--color-prettylights-syntax-keyword);
	}

	.meta string {
		color: var(--color-prettylights-syntax-string);
	}

	.section {
		color: var(--color-prettylights-syntax-markup-heading);
	}

	.tag {
		color: var(--text-color);
	}

	.name {
		color: var(--color-prettylights-syntax-entity-tag);
	}

	.attr {
		color: var(--color-prettylights-syntax-constant);
	}

	.attribute {
		color: var(--color-prettylights-syntax-constant);
	}

	.bullet {
		color: var(--color-prettylights-syntax-markup-list);
	}

	.code {
		color: var(--color-prettylights-syntax-string);
	}

	.emphasis {
		color: var(--color-prettylights-syntax-markup-italic);
	}

	.strong {
		color: var(--color-prettylights-syntax-markup-bold);
	}

	.formula {
		color: var(--color-prettylights-syntax-string-regexp);
	}

	.link {
		color: var(--color-prettylights-syntax-constant-other-reference-link);
	}

	.quote {
		color: var(--color-prettylights-syntax-entity-tag);
	}

	.selector-tag {
		color: var(--color-prettylights-syntax-entity-tag);
	}

	.selector-id {
		color: var(--color-prettylights-syntax-constant);
	}

	.selector-class {
		color: var(--color-prettylights-syntax-constant);
	}

	.selector-attr {
		color: var(--color-prettylights-syntax-constant);
	}

	.selector-pseudo {
		color: var(--color-prettylights-syntax-constant);
	}

	.template-tag {
		color: var(--color-prettylights-syntax-entity-tag);
	}

	.template-variable {
		color: var(--color-prettylights-syntax-variable);
	}

	.addition {
		color: var(--color-prettylights-syntax-markup-inserted-text);
		background-color: var(--color-prettylights-syntax-markup-inserted-bg);
	}

	.deletion {
		color: var(--color-prettylights-syntax-markup-deleted-text);
		background-color: var(--color-prettylights-syntax-markup-deleted-bg);
	}
}
