.theme-github-light {
	--app-bg-color: #fff;
	--app-font-size: 14px;

	--nav-bg-color: #f6f8fa;
	--nav-fg-color: #59636e;
	--nav-radius: 0.375rem;
	--nav-border-color: #d1d9e0;
	--nav-button-size: 32px;
	--nav-button-svg-size: 16px;
	--nav-separator-color: #dce2e8;
	--nav-separator-length: 20px;

	--editor-bg-color: #fff;
	--editor-border-color: #d1d9e0;
	--editor-focused-border-color: #0969da;
	--editor-radius: 0.375rem;
	--editor-padding: 1rem;

	--text-color: #1f2328;
	--selection-color: #3367d1;

	--link-color: #0969da;
	--link-decoration: underline;
	--link-hover-color: #0969da;
	--link-hover-decoration: underline;

	/* GitHub colors */
	--color-prettylights-syntax-brackethighlighter-angle: #586069;
	--color-prettylights-syntax-brackethighlighter-unmatched: #b31d28;
	--color-prettylights-syntax-carriage-return-bg: #d73a49;
	--color-prettylights-syntax-carriage-return-text: #fafbfc;
	--color-prettylights-syntax-comment: #6a737d;
	--color-prettylights-syntax-constant: #005cc5;
	--color-prettylights-syntax-constant-other-reference-link: #032f62;
	--color-prettylights-syntax-entity: #6f42c1;
	--color-prettylights-syntax-entity-tag: #22863a;
	--color-prettylights-syntax-keyword: #d73a49;
	--color-prettylights-syntax-markup-bold: #24292e;
	--color-prettylights-syntax-markup-changed-bg: #ffebda;
	--color-prettylights-syntax-markup-changed-text: #e36209;
	--color-prettylights-syntax-markup-deleted-bg: #ffeef0;
	--color-prettylights-syntax-markup-deleted-text: #b31d28;
	--color-prettylights-syntax-markup-heading: #005cc5;
	--color-prettylights-syntax-markup-ignored-bg: #005cc5;
	--color-prettylights-syntax-markup-ignored-text: #f6f8fa;
	--color-prettylights-syntax-markup-inserted-bg: #f0fff4;
	--color-prettylights-syntax-markup-inserted-text: #22863a;
	--color-prettylights-syntax-markup-italic: #24292e;
	--color-prettylights-syntax-markup-list: #735c0f;
	--color-prettylights-syntax-meta-diff-range: #6f42c1;
	--color-prettylights-syntax-storage-modifier-import: #24292e;
	--color-prettylights-syntax-string: #032f62;
	--color-prettylights-syntax-string-regexp: #22863a;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #959da5;
	--color-prettylights-syntax-variable: #e36209;
}
