nav {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0.5rem 1rem;
	border: 1px solid var(--nav-border-color);
	border-radius: var(--nav-radius);
	background: var(--nav-bg-color);
	gap: 0;
}
