/* You can add global styles to this file, and also import other style files */
@import 'themes/default/base.css';
@import 'themes/google-docs.css';
@import 'themes/github/base.css';
@import 'themes/jetbrains/base.css';

*:focus, input:focus {
	outline: 2px solid var(--editor-focused-border-color);
	outline-offset: -2px;
}

html,
body {
	font-size: var(--app-font-size);
	overflow-y: auto;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	border: 0;
	background: var(--app-bg-color);
}

html {
	padding-top: 40px;
}

a {
	text-decoration: var(--link-decoration);
	color: var(--link-color);
}

a:hover {
	text-decoration: var(--link-hover-decoration);
	color: var(--link-hover-color);
}

/* Fonts */
.sans-serif {
	font-family: 'Arial', sans-serif;
}

.serif {
	font-family: 'Times New Roman', serif;
}

.monospace {
	font-family: 'Courier New', monospace;
}
